@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-bg-color: white;
  --second-bg-color: #ffd200;
  --main-txt-color: #000000;
  --second-txt-color: white;
  --main-button-color: #ffc400;
}

body {
  width: 100vw;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-track {
  background: transparent;
  margin: 20px 10px;
}

body::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 26px;
  border: none;
}

.container {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
}

/* Open section header */

header {
  margin: 16px 0;
}

header nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  z-index: 1001;
  left: 0;
  top: 0;
  transition: 400ms;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1554px;
  z-index: 1000;
}

header nav ul a li p {
  font-size: 18px;
  color: black;
}

header nav ul a li:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header nav ul a:last-child li {
  width: 200px;
  height: 48px;
  background: #FFF5E6;
  border: 1px solid #FFB641;
  border-radius: 49px;
  font-style: normal;
  font-weight: 300;
  padding: 1px 0;
  font-size: 18px;
  color: white;
}

header nav ul a li button {
  cursor: pointer;
  width: 200px;
  height: 45px;
  background: linear-gradient(180deg, #ffb641 0%, #ff932c 100%);
  border: 1px solid #ffffff;
  border-radius: 28px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

header nav ul a:last-child li img {
  width: 46px;
  height: 46px;
  border-radius: 200px;
}

header nav ul a:last-child li h3 {
  text-align: center;
  flex-grow: 1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-right: 5px;
}

/* Close section header */
.mobile-header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  z-index: 10000;
}

.burger.activated {
  right: 2px;
}

.burger {
  position: absolute;
  float: right;
  width: 220px;
  top: 108px;
  transition: 500ms;
  right: -300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 19px;
  z-index: 1000;
  border: 1px solid #FFB641;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile-header ul a:first-child li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  background: #FFF5E6;
  border: 1px solid #FFB641;
  border-radius: 49px;
  font-style: normal;
  font-weight: 300;
  padding: 1px 0;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.mobile-header ul a:first-child li button {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffb641 0%, #ff932c 100%);
  border: 1px solid #ffffff;
  border-radius: 28px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.mobile-header ul a:first-child li img {
  width: 36px;
  height: 36px;
  border-radius: 200px;
}

.mobile-header ul a:first-child li h3 {
  text-align: center;
  flex-grow: 1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-right: 5px;
}

.mobile-header ul a:not(:first-child) li {
  border-bottom: 1px solid #FFD200;
  padding: 10px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: black;
}


.elem span {
  display: block;
  width: 32px;
  height: 4px;
  background: #FFCB44;
  margin-bottom: 4px;
}

/* Open section under-header */

.under-header {
  width: 100vw;
  height: 100%;
  background-image: url('/img/backhead3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.under-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.under-header div h1 {
  text-align: center;
  font-style: normal;
  font-weight: 1000;
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 60px;
  margin-top: 100px;
}

.under-header div p {
  max-width: 1200px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.under-header div button {
  width: 400px;
  height: 65px;
  background: #ffc400;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

/* Close section under-header */

/* Open section show */

.show {
  margin-top: 20px;
  position: relative;
  width: 100vw;
  padding-top: 65px;
  margin-bottom: 100px;
}

.grid-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.grid-show div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 377px;
  height: 427px;
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
  border-radius: 39px;
  margin-bottom: 70px;
}

.grid-show div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-show div:first-child {
  background-image: url(/img/imgshow1.png);
}

.grid-show div:nth-child(2) {
  background-image: url(/img/imgshow2.png);
}

.grid-show div:nth-child(3) {
  background-image: url(/img/imgshow3.png);
}

.grid-show div:nth-child(4) {
  background-image: url(/img/imgshow4.png);
}

.grid-show div:nth-child(5) {
  background-image: url(/img/imgshow5.png);
  margin-bottom: 80px;
}

.grid-show div:last-child {
  background-image: url(/img/imgshow6.png);
}

.grid-show div h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.grid-show>div button {
  width: 161px;
  height: 38px;
  background: #ffffff;
  border-radius: 35px;
  border: none;
  margin-bottom: 30px;
}

/* Close section show */

/* Open section tarif */

.tarif {
  position: relative;
  background-image: url("/img/backgr3.png");
  width: 100vw;
  margin-bottom: 70px;
}

.bottom-div-tarif {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-div-tarif img {
  position: relative;
  margin-left: 100px;
}

.bottom-div-tarif h1 {
  width: 380px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 30px;

}

.bottom-div-tarif>div {
  margin-top: 80px;
}

.bottom-div-tarif>div:first-child p {
  width: 580px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin-bottom: 40px;
}

.bottom-div-tarif form label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
  line-height: 23px;
}

input[type="placeholder"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #b7b7b7;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  margin-left: 35px;
  margin-bottom: 25px;
}

.bottom-div-tarif form input[type="text"] {
  width: 628px;
  height: 60px;
  padding-left: 25px;
  background: #ffffff;
  border-radius: 35px;
  border: none;
  outline: none;
  margin-bottom: 25px;
}

.check {
  display: flex;
  flex-direction: row;
}

.check div {
  display: flex;
  flex-direction: row;
  width: 358px;
}

.check p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-left: 20px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.bottom-div-tarif button {
  width: 219px;
  height: 59px;
  background: linear-gradient(180deg, #ffe547 0%, #ffb641 100%);
  border: 1px solid #ffcb44;
  border-radius: 35px;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  margin-left: 49px;
}

.bottom-div-tarif button:hover {
  cursor: pointer;
}


/* Close section tarif */


/* Open section footer */

footer>div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.first-footer-div {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  width: 140px;
  height: 75px;
  margin-bottom: 20px;
}

.first-footer-p {
  width: 233px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.social a img {
  width: 40px;
  margin-left: 5px;
}

.first-footer-div:nth-child(2) h1 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.first-footer-div:nth-child(2)>p:last-child {
  margin-top: 10px;
  margin-left: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.first-footer-div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.first-footer-div:nth-child(2) div:nth-child(2) img:first-child {
  width: 12px;
  margin-right: 14px;
  margin-left: 6px;
}

.first-footer-div:nth-child(2) div:nth-child(3) img:first-child {
  width: 24px;
  margin-right: 11px;
}

.first-footer-div:nth-child(2) div:nth-child(4) img:first-child {
  width: 18px;
  margin-right: 15px;
}

.first-footer-div:nth-child(2) div p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.first-footer-div:nth-child(3) h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.first-footer-div:nth-child(3) ul li {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.first-footer-div:nth-child(4) h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.first-footer-div:nth-child(4) p:nth-child(2),
.first-footer-div:nth-child(4) p:nth-child(3) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.first-footer-div:nth-child(4) form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 3px;
  height: 50px;
  margin-bottom: 15px;
}

.first-footer-div:nth-child(4) form input {
  background: transparent;
  outline: none;
  height: 100%;
  width: 80%;
  border: none;
  padding-left: 20px;
}

.first-footer-div:nth-child(4) form button {
  width: 40px;
  height: 40px;
  border: none;
  background: #EE6075;
  border-radius: 3px;
  margin-right: 5px;
}

.first-footer-div:nth-child(4) p:nth-child(4) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

footer hr {
  width: 1560px;
  margin: 50px auto;
}

.footer-bot {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-bot div {
  display: flex;
  flex-direction: row;
  gap: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #959595;
}

/* Close section footer */
@media screen and (max-width: 1600px) {

  .container {
    max-width: 1400px;
  }

  header nav ul a li p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1450px) {

  .container {
    max-width: 1000px;
  }

  .bottom-div-tarif {
    width: 100%;
  }

  .bottom-div-tarif div {
    width: 100%;
  }

  .bottom-div-tarif img {
    display: none;
  }

  .bottom-div-tarif h1 {
    width: 100%;
  }

  .bottom-div-tarif>div:first-child p {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .bottom-div-tarif form input[type="text"] {
    width: 100%;

  }
}

@media screen and (max-width: 1050px) {

  .container {
    max-width: 700px;
  }

  header nav ul a:first-child li img {
    width: 70%;
  }

  header nav ul a li p {
    font-size: 12px;
  }

  header nav ul a:last-child li {
    width: 150px;
    font-size: 14px;
  }

  header nav ul a:last-child li h3 {
    font-size: 13px;
  }

  .grid-show {
    justify-content: center;
  }

  .first-footer-div:nth-child(2) div p {
    font-size: 12px;
  }

  .first-footer-div:nth-child(2)>p:last-child {
    font-size: 12px;
  }

  .first-footer-div:nth-child(3) ul li {
    font-size: 12px;
  }

  .first-footer-div:nth-child(4) p:nth-child(2),
  .first-footer-div:nth-child(4) p:nth-child(3) {
    font-size: 12px;
  }

  .first-footer-div:nth-child(4) p:nth-child(4) {
    line-height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }

  header {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .first-footer-div:not(:first-child) {
    display: none;
  }

  .first-footer-p {
    display: none;
  }

  .social {
    display: none;
  }



  .footer-bot div:first-child {
    display: none;
  }

  .logo-footer {
    margin-bottom: 0px;
  }

  footer hr {
    width: 100%;
    margin: 30px auto;
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 300px;
  }

  .mobile-header a:first-child img {
    width: 50%;
  }

  .under-header div h1 {
    margin-top: 0;
  }

  .under-header div p {
    display: none;
  }

  .under-header div button {
    width: 100%;
  }

  .bottom-div-tarif h1 {
    font-size: 36px;
  }

  .bottom-div-tarif>div>p:nth-child(2) {
    display: none;
  }

  .bottom-div-tarif>div:first-child p {
    font-size: 12px;
  }

  .bottom-div-tarif button {
    width: 60%;
    flex-grow: 1;
    margin-left: 10px;
  }

  footer p {
    font-size: 10px;
  }
}