@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-bg-color: white;
  --second-bg-color: #ffd200;
  --main-txt-color: #000000;
  --second-txt-color: white;
  --main-button-color: #ffc400;
}

body {
  width: 100vw;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-track {
  background: var(--second-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);
  border: 1px solid black;
}

.container {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
}

/* Open section header */

header {
  display: block;
  position: relative;
  width: 100%;
  box-shadow: 0 4px 5px rgb(0, 0, 0, .15);
  z-index: 1000;
  background-color: white;
}

header nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  z-index: 1001;
  left: 0;
  top: 0;
  transition: 400ms;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1554px;
  z-index: 1000;
}

header nav ul a li p {
  font-size: 18px;
  color: black;
}

header nav ul a li:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header nav ul a:last-child li {
  width: 200px;
  height: 48px;
  background: #FFF5E6;
  border: 1px solid #FFB641;
  border-radius: 49px;
  font-style: normal;
  font-weight: 300;
  padding: 1px 0;
  font-size: 18px;
  color: white;
}

header nav ul a:last-child li img {
  width: 46px;
  height: 46px;
  border-radius: 200px;
}

header nav ul a:last-child li h3 {
  text-align: center;
  flex-grow: 1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-right: 5px;
}

header nav ul a li button {
  width: 200px;
  height: 45px;
  background: linear-gradient(180deg, #ffb641 0%, #ff932c 100%);
  border: 1px solid #ffffff;
  border-radius: 28px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

/* Close section header */
.mobile-header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  z-index: 10000;
}

.burger.activated {
  right: 2px;
}

.burger {
  position: absolute;
  float: right;
  width: 220px;
  top: 108px;
  transition: 500ms;
  right: -300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 19px;
  z-index: 1000;
  border: 1px solid #FFB641;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mobile-header ul a:first-child li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  background: #FFF5E6;
  border: 1px solid #FFB641;
  border-radius: 49px;
  font-style: normal;
  font-weight: 300;
  padding: 1px 0;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.mobile-header ul a:first-child li img {
  width: 36px;
  height: 36px;
  border-radius: 200px;
}

.mobile-header ul a:first-child li h3 {
  text-align: center;
  flex-grow: 1;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: black;
  margin-right: 5px;
}

.mobile-header ul a:not(:first-child) li {
  border-bottom: 1px solid #FFD200;
  padding: 10px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: black;
}


.elem span {
  display: block;
  width: 32px;
  height: 4px;
  background: #FFCB44;
  margin-bottom: 4px;
}



/* Open section o_nas */
.o_nas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.o_nas div {
  width: 100%;
  background: linear-gradient(180deg, #FFB700 0%, #FE7224 51.56%, #FD2D48 100%);
  border: 4px solid #FD2B4A;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  padding: 45px 110px;
}

.o_nas h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 45px;
}

.o_nas p {
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
}

/* Close section o_nas */

/* Open section under-header */

.leftImg {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}

.rightImg {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
}

/* Close section under-header */

/* Open section chto */
.chto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.chto div {}

.chto h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.chto p {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  line-height: 35px;
  font-size: 20px;
}

/* Close section chto */

/* Open section photografi*/

.photografi h1 {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-size: 40px;

}

.photografi img {
  width: 100%;
  margin-top: 50px;

}

/* Close section photografi */


/* Open section kontakt*/
.kontakt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}

.kontik {
  display: flex;
  flex-direction: column;
}

.kontakt h1 {
  font-size: 40px;
  color: black;

}

.kontakt p {
  margin-top: 30px;
  line-height: 60px;
  font-size: 20px;
  color: black;
}

/* Close section kontakt */

/* Open section maps*/
.maps {
  width: 100%;
  margin-top: 100px;
}

/* Close section maps */


/* Open section footer */
footer {
  margin-top: 50px;
}

footer>div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.first-footer-div {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  width: 140px;
  height: 75px;
  margin-bottom: 20px;
}

.first-footer-p {
  width: 233px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.social a img {
  width: 40px;
  margin-left: 5px;
}

.first-footer-div:nth-child(2) h1 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.first-footer-div:nth-child(2)>p:last-child {
  margin-top: 10px;
  margin-left: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.first-footer-div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.first-footer-div:nth-child(2) div:nth-child(2) img:first-child {
  width: 12px;
  margin-right: 14px;
  margin-left: 6px;
}

.first-footer-div:nth-child(2) div:nth-child(3) img:first-child {
  width: 24px;
  margin-right: 11px;
}

.first-footer-div:nth-child(2) div:nth-child(4) img:first-child {
  width: 18px;
  margin-right: 15px;
}

.first-footer-div:nth-child(2) div p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.first-footer-div:nth-child(3) h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.first-footer-div:nth-child(3) ul li {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.first-footer-div:nth-child(4) h1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.first-footer-div:nth-child(4) p:nth-child(2),
.first-footer-div:nth-child(4) p:nth-child(3) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.first-footer-div:nth-child(4) form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 3px;
  height: 50px;
  margin-bottom: 15px;
}

.first-footer-div:nth-child(4) form input {
  background: transparent;
  outline: none;
  height: 100%;
  width: 80%;
  border: none;
  padding-left: 20px;
}

.first-footer-div:nth-child(4) form button {
  width: 40px;
  height: 40px;
  border: none;
  background: #EE6075;
  border-radius: 3px;
  margin-right: 5px;
}

.first-footer-div:nth-child(4) p:nth-child(4) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

footer hr {
  width: 1560px;
  margin: 50px auto;
}

.footer-bot {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-bot div {
  display: flex;
  flex-direction: row;
  gap: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #959595;
}

/* Close section footer */
@media screen and (max-width: 1600px) {

  .container {
    max-width: 1400px;
  }

  header nav ul a li p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1450px) {

  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {

  .container {
    max-width: 700px;
  }

  header nav ul a:first-child li img {
    width: 70%;
  }

  header nav ul a li p {
    font-size: 12px;
  }

  header nav ul a:last-child li {
    width: 150px;
    font-size: 14px;
  }

  header nav ul a:last-child li h3 {
    font-size: 13px;
  }

  .leftImg {
    display: none;
  }

  .rightImg {
    display: none;
  }

  .chto {
    margin-top: 50px;
  }

  .o_nas div {
    padding: 30px 50px;
  }

  .kontakt {
    flex-direction: column;
  }

  .kontakt p {
    line-height: 10px;
  }

  .kontakt img {
    width: 100%;
  }

  .chto img {
    display: none;
  }

  .maps {
    display: none;
  }

  .first-footer-div:nth-child(2) div p {
    font-size: 12px;
  }

  .first-footer-div:nth-child(2)>p:last-child {
    font-size: 12px;
  }

  .first-footer-div:nth-child(3) ul li {
    font-size: 12px;
  }

  .first-footer-div:nth-child(4) p:nth-child(2),
  .first-footer-div:nth-child(4) p:nth-child(3) {
    font-size: 12px;
  }

  .first-footer-div:nth-child(4) p:nth-child(4) {
    line-height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }

  header {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .first-footer-div:not(:first-child) {
    display: none;
  }

  .first-footer-p {
    display: none;
  }

  .social {
    display: none;
  }

  .footer-bot div:first-child {
    display: none;
  }

  .logo-footer {
    margin-bottom: 0px;
  }

  footer hr {
    width: 100%;
    margin: 30px auto;
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 300px;
  }

  .mobile-header a:first-child img {
    width: 50%;
  }

  footer p {
    font-size: 10px;
  }
}